.formulario{
    display: flex;
    justify-content: center;
    margin:80px 0;
}

.formulario form{
 
    max-width: 80%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 32px 64px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}